@import url("https//fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

:root {
  --bg-color: #121b25;
  --accent-color: #1aa090;
  --text-color: #D6D6D6;
  --logo-color: #FFFFFF;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 89.75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.599rem + 1.58vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
  color: #FFFFFF;
}

.text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7;
  color: var(--text-color);
}

.link {
  display: inline-block;
  text-align: center;
  padding: clamp(0.625rem, 0.441rem + 1.05vw, 1.375rem) clamp(0.625rem, 0.134rem + 2.81vw, 2.625rem);
  color: #FFF;
  font-weight: 500;
  font-size: clamp(1rem, 0.877rem + 0.7vw, 1.5rem);
  text-transform: capitalize;
  margin: clamp(1rem, 0.555rem + 2.54vw, 2.813rem) auto 0;
  text-decoration: none;
  background-color: var(--accent-color);
  transition: background-color 0.2s;
}
@media (any-hover: hover) {
  .link:hover {
    background-color: #15786C;
  }
}

.header {
  padding: clamp(1rem, 0.632rem + 2.11vw, 2.5rem) 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.header__logo {
  max-width: 12.5rem;
}
.header__navigation {
  display: flex;
  gap: clamp(1.25rem, -2.8rem + 8.44vw, 4.688rem);
  align-items: center;
}
.header__buttons {
  display: flex;
  gap: 0.3rem;
}
.header__btn {
  padding: 0.7rem 1.25rem;
  color: #FFF;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 36rem) {
  .header__btn {
    padding: 0.25rem 0.5rem;
  }
}
@media (max-width: 18.75rem) {
  .header__btn {
    padding: 0.15rem 0.275rem;
    font-size: 0.55rem;
  }
}

@media (max-width: 62rem) {
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 1.25rem 0;
    background-color: var(--accent-color);
    transition: left 0.2s;
  }
  .menu._active {
    left: 0;
    z-index: 4;
  }
}
.menu-icon {
  display: none;
}
@media (max-width: 62rem) {
  .menu-icon {
    display: block;
    height: 1.125rem;
    width: 1.875rem;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu-icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon._active span {
    transform: scale(0);
  }
  .menu-icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.menu__body {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 62rem) {
  .menu__body {
    flex-direction: column;
    margin: auto;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
  position: relative;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 0.2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #FFF;
  }
  .menu__link:hover:before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 62rem) {
  .menu__link {
    line-height: 3rem;
    font-size: 2rem;
  }
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 27rem) {
  .login {
    display: none;
  }
}

.register {
  background-color: var(--accent-color);
}
.register:hover {
  background-color: transparent;
  transition: background-color 0.2s;
  cursor: pointer;
}

.hero {
  margin-top: clamp(1.25rem, 0.406rem + 4.82vw, 4.688rem);
  position: relative;
  padding-bottom: clamp(1.25rem, 0.175rem + 6.14vw, 5.625rem);
}
.hero__deco {
  position: absolute;
  bottom: -10rem;
  right: 0;
  z-index: -1;
}
@media (max-width: 62em) {
  .hero__deco {
    display: none;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 62em) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: 10rem;
}
@media (max-width: 48em) {
  .hero__content {
    padding-bottom: 0.5rem;
  }
}
.hero__title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.292rem + 3.33vw, 4.25rem);
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 1.125rem;
}
.hero__filter {
  height: 5.5rem;
  width: 55rem;
  background-color: #fff;
  margin-top: clamp(1.25rem, 0.636rem + 3.51vw, 3.75rem);
  position: absolute;
}
@media (max-width: 62em) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
}
@media (min-width: 48em) and (max-width: 62em) {
  .hero__img {
    display: none;
  }
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 10.3rem;
  color: #000;
}
@media (max-width: 36em) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 0.6em;
    height: auto;
  }
}
@media (max-width: 30em) {
  .filter {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #e8e8ee;
  border-left: 1px solid #e8e8ee;
}
.filter__btn {
  padding: 0.3rem;
}
.filter__btn button {
  cursor: pointer;
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 0.5em;
}
.filter__btn button:active {
  background-color: #15786C;
}
@media (max-width: 36em) and (min-width: 30em) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
  font-size: 1.125rem;
}
.block-filter__dropdown {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s;
  box-shadow: 0 0 1px 1px #000;
}
.block-filter__dropdown._active {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transform: translateY(5px);
}
.block-filter__button {
  padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.block-filter__header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.block-filter__type {
  padding-right: 0.2rem;
  font-weight: 400;
  color: #858585;
  cursor: pointer;
}
.block-filter__icon {
  width: 0.55rem;
  height: 0.5rem;
  background: url("../img/icons/arrow-dropdown.svg") center bottom no-repeat;
  transition: transform 0.2s;
  cursor: pointer;
}
.block-filter__icon._active {
  transform: rotate(180deg);
}
.block-filter__value {
  color: var(--bg-color);
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
}
.block-filter__item {
  padding: 0.55em;
  transition: background-color 0.2s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

.featured {
  padding-top: clamp(1.25rem, 0.175rem + 6.14vw, 5.625rem);
  padding-bottom: clamp(1.25rem, -1.659rem + 14.55vw, 11.25rem);
}
.featured__box {
  margin-top: clamp(0.625rem, -0.081rem + 4.04vw, 3.5rem);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  overflow: auto;
}
.featured__item {
  flex: 0 0 auto;
}
.featured__img {
  cursor: pointer;
}

.popular {
  background: #1A242F url("../img/sliderbg.png") center center/cover no-repeat;
  padding: clamp(1.25rem, -1.295rem + 12.73vw, 10rem) 0;
}
.popular__slider {
  margin-top: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
  position: relative;
}
.popular__link {
  text-align: center;
  margin-top: clamp(0.625rem, -0.219rem + 4.82vw, 4.063rem);
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
@media (max-width: 44em) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.popular-slide__labels {
  display: inline-flex;
  gap: 1.25rem;
}
@media (max-width: 44em) {
  .popular-slide__labels {
    justify-content: center;
  }
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 106em) {
  .slider-buttons {
    top: -6rem;
    right: 0;
    width: auto;
    gap: 2rem;
  }
}

.swiper-button-prev.popular-slider-btn {
  position: absolute;
  left: -8rem;
}

.swiper-button-next.popular-slider-btn {
  position: absolute;
  right: -8rem;
  transform: rotate(180deg);
}

.popular-slider-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: url("../img/icons/arrow-slider.svg") left 2rem center no-repeat;
  border: 1px solid #FFF;
  cursor: pointer;
}
@media (max-width: 106em) {
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 38em) {
  .popular-slider-btn {
    display: none;
  }
}

.why {
  padding-top: clamp(1.25rem, -1.206rem + 14.04vw, 11.25rem);
  padding-bottom: clamp(1.25rem, 0.099rem + 6.58vw, 5.938rem);
}
.why__title {
  text-align: center;
}
.why__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: clamp(1.25rem, 0.636rem + 3.51vw, 3.75rem);
  gap: clamp(1.25rem, 0.789rem + 2.63vw, 3.125rem);
}
@media (max-width: 49em) {
  .why__body {
    flex-direction: column;
  }
}
.item-why {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 26.4788732394%;
}
.item-why__img {
  width: clamp(6.25rem, 5.022rem + 7.02vw, 11.25rem);
  height: clamp(6.25rem, 5.022rem + 7.02vw, 11.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: clamp(1rem, 0.693rem + 1.75vw, 2.25rem);
}
.item-why__img:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.12;
}
.item-why__img svg {
  width: 40%;
  width: 40%;
}
.item-why__title {
  font-weight: 600;
  font-size: 1.625rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.item-why__text {
  margin-top: 1rem;
}

.reviews {
  position: relative;
}
.reviews .reviews-deco {
  position: absolute;
  top: -500px;
  left: 0;
  z-index: -1;
}
@media (max-width: 30em) {
  .reviews .reviews-deco {
    width: 12rem;
  }
}
.reviews .swiper-wrapper {
  align-items: flex-start;
}
.reviews__container {
  max-width: 64rem;
  margin: 0 auto;
  position: relative;
  padding-top: clamp(0.625rem, -2.215rem + 16.23vw, 12.188rem);
}
.reviews__quotes {
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(3rem, -0.254rem + 18.6vw, 16.25rem);
  text-transform: capitalize;
  color: var(--accent-color);
}
.slider-reviews__text {
  font-size: clamp(1.25rem, 1.066rem + 1.05vw, 2rem);
  line-height: 1.57;
  text-transform: capitalize;
}
.slider-reviews__info {
  margin-top: clamp(1rem, 0.601rem + 2.28vw, 2.625rem);
}
.slider-reviews__name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.slider-reviews__buttons {
  height: 3.8rem;
  align-items: center;
  display: flex;
  gap: 4.5rem;
  width: 7rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.slider-reviews__buttons:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background: #353F49;
  width: 1px;
}
@media (max-width: 38em) {
  .slider-reviews__buttons {
    display: none;
  }
}

.slider-reviews-btn.swiper-button-disabled svg {
  fill: #767F89;
}
.slider-reviews-btn svg {
  fill: #FFFFFF;
}

.slider-reviews-prev {
  transform: translateY(-3px) rotate(180deg);
}

.gallery {
  background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
  padding: clamp(1.25rem, -0.899rem + 12.28vw, 10rem) 0;
}
.gallery__container {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 0.263rem + 4.21vw, 4rem);
}
@media (max-width: 63em) {
  .gallery__container {
    flex-direction: column;
  }
}
.gallery__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.125rem;
  width: 50.7042253521%;
}
@media (max-width: 63em) {
  .gallery__box {
    width: 100%;
  }
}
.gallery__item {
  flex: 0 0 47%;
  aspect-ratio: 7/11;
}
.gallery__item .swiper-wrapper {
  position: relative;
}
.gallery__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 30em) {
  .gallery__info {
    text-align: center;
  }
}
@media (min-width: 63em) {
  .gallery__title {
    max-width: 32.5rem;
  }
}
.gallery__text {
  margin-top: 1.2rem;
}

.begin {
  position: relative;
  padding: clamp(1.25rem, -1.206rem + 14.04vw, 11.25rem) 0;
}
.begin .begin-wave {
  position: absolute;
  bottom: -16rem;
  left: 0;
  z-index: -1;
}
@media (max-width: 49em) {
  .begin .begin-wave {
    width: 16rem;
  }
}
.begin .begin-rect {
  position: absolute;
  top: -4.5rem;
  right: 0;
}
@media (max-width: 40em) {
  .begin .begin-rect {
    display: none;
  }
}
.begin__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(0.625rem, 0.164rem + 2.63vw, 2.5rem);
  max-width: 77rem;
}
@media (max-width: 49em) {
  .begin__container {
    flex-direction: column;
    text-align: center;
  }
}
.begin__slogan {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.26;
  text-transform: capitalize;
}
.begin__content {
  flex: 0 0 50%;
}
.begin__link {
  margin-top: clamp(0.625rem, 0.011rem + 3.51vw, 3.125rem);
}

.footer {
  background-color: #1a242f;
  padding-top: clamp(0.625rem, -1.371rem + 11.4vw, 8.75rem);
}
.footer__main {
  padding-bottom: clamp(0.625rem, -0.603rem + 7.02vw, 5.625rem);
}
.footer .main-footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: clamp(0.625rem, -18.72rem + 30.95vw, 8.75rem);
}
@media (max-width: 62.5em) {
  .footer .main-footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 39em) {
  .footer .main-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 62.5em) {
  .footer__block {
    grid-column: 1/5;
  }
  .footer__block:not(:first-child) {
    grid-row: 2/3;
    grid-column: auto;
  }
}
.footer__text {
  margin: clamp(0.625rem, 0.441rem + 1.05vw, 1.375rem) 0 clamp(0.625rem, 0.287rem + 1.93vw, 2rem);
}
@media (min-width: 62.5em) {
  .footer__text {
    width: 21.25rem;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: clamp(0.625rem, 0.318rem + 1.75vw, 1.875rem);
}
@media (max-width: 39em) {
  .footer__socials {
    justify-content: center;
  }
}
.footer__social {
  text-decoration: none;
}
.footer__social svg {
  fill: #555E68;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .footer__social:hover svg {
    fill: var(--logo-color);
  }
}
.footer__copyright {
  border-top: 1px solid #303A44;
  padding: clamp(0.625rem, 0.548rem + 0.44vw, 0.938rem) 0;
}
.footer__copyright .copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 44em) {
  .footer__copyright .copyright__container {
    flex-direction: column;
    gap: clamp(0.625rem, 0.318rem + 1.75vw, 1.875rem);
    text-align: center;
  }
}

.links-footer__header {
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: clamp(0.625rem, 0.61rem + 0.09vw, 0.688rem);
}
.links-footer__link {
  text-decoration: none;
  transition: color 0.2s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .links-footer__link:hover {
    color: var(--logo-color);
  }
}/*# sourceMappingURL=style.css.map */