@import url("https//fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

* img {
    max-width: 100%;
}

:root {
    --bg-color: #121b25;
    --accent-color: #1aa090;
    --text-color: #D6D6D6;
    --logo-color: #FFFFFF;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg-color);
    position: relative;
    color: #fff;
    &._lock {
        overflow: hidden;
    }
}

[class*="__container"] {
    max-width: 89.75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

//General 
.title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.599rem + 1.58vw, 3rem);
    line-height: 1.26;
    text-transform: capitalize;
    color: #FFFFFF;
}
.text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.7;
    color: var(--text-color);
}

.link {
    display: inline-block;
    text-align: center;
    padding: clamp(0.625rem, 0.441rem + 1.05vw, 1.375rem) clamp(0.625rem, 0.134rem + 2.81vw, 2.625rem);
    color: #FFF;
    font-weight: 500;
    font-size: clamp(1rem, 0.877rem + 0.7vw, 1.5rem);
    text-transform: capitalize;
    margin: clamp(1rem, 0.555rem + 2.54vw, 2.813rem) auto 0;
    text-decoration: none;
    background-color: var(--accent-color);
    transition: background-color .2s;
    @media (any-hover: hover) {
        &:hover{
            background-color: #15786C;
        }
    }
}
// Header

.header {
    padding: clamp(1rem, 0.632rem + 2.11vw, 2.5rem) 0;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.25rem;
    }
    &__logo {
        max-width: 12.5rem;
    }
    &__navigation {
        display: flex;
        gap: clamp(1.25rem, -2.8rem + 8.44vw, 4.688rem);
        align-items: center;
    }
    &__buttons {
        display: flex;
        gap: .3rem;
    }
    &__btn {
        padding: .7rem 1.25rem;
        color: #FFF;
        border: 2px solid var(--accent-color);
        background-color: transparent;
        cursor: pointer;
        @media (max-width: 36em) {
            padding: .25rem .5rem;
        }
        @media (max-width: 18.75em) {
            padding: .15rem .275rem;
            font-size: .55rem;
        }
    }
}
.menu {
    @media(max-width: 62em) {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        display: flex;
        overflow: auto;
        padding: 1.25rem 0;
        background-color: var(--accent-color);
        transition: left .2s;
        &._active {
            left: 0;
            z-index: 4
        }
    }
    &-icon {
    display: none;
    @media(max-width: 62em){
        display: block;
        height: 1.125rem;
        width: 1.875rem;
        position: relative;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all .3s ease 0s;
            top: calc(50% - 1px);
            position: absolute;
            width: 100%;
            height: 0.125rem;
            background-color: #fff;
            &:first-child {
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
            }
        &._active  {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                    }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
    }
    &__body {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        @media(max-width: 62em) {
            flex-direction: column;
            margin: auto;
        }
    }
    // &__item {
    // }
    &__link {
        font-weight: 500;
        font-size: 1rem;
        text-transform: capitalize;
        color: var(--text-color);
        text-decoration: none;
        transition: color .2s;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: -.3rem;
            left: 0;
            right: 0;
            background-color: var(--accent-color);
            height: .2rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s;
        }
        @media (any-hover: hover) {
            &:hover {
                color: #FFF;
                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        @media(max-width: 62rem) {
            line-height: 3rem;
            font-size: 2rem;
        }
    }
}
.login {
    @media (any-hover: hover) {
        &:hover {
            background-color: var(--accent-color);
        }
    }
    @media (max-width: 27em) {
        display: none;
    }
}
.register {
    background-color: var(--accent-color);
    &:hover {
        background-color: transparent;
        transition: background-color .2s;
        cursor: pointer;
    }
}

// Hero

.hero {
    margin-top: clamp(1.25rem, 0.406rem + 4.82vw, 4.688rem);
    position: relative;
    padding-bottom: clamp(1.25rem, 0.175rem + 6.14vw, 5.625rem);
    &__deco {
        position: absolute;
        bottom: -10rem;
        right: 0;
        z-index: -1;
        @media (max-width: 62em) {
            display: none;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 62em) {
            flex-direction: column;
        }
    }
    &__content {
        flex: 0 0 calc(43.75rem / 88.75rem * 100%);
        padding-bottom: 10rem;
        @media (max-width: 48em) {
            padding-bottom: .5rem;
        }
    }
    &__title {
        font-weight: 600;
        font-size: clamp(1.875rem, 1.292rem + 3.33vw, 4.25rem);
        line-height: 1.26;
        text-transform: capitalize;
    }
    &__text {
        margin-top: 1.125rem;
    }
    &__filter {
        height: 5.5rem;
        width: 55rem;
        background-color: #fff;
        margin-top: clamp(1.25rem, 0.636rem + 3.51vw, 3.75rem);
        position: absolute;
        @media (max-width: 62em) {
            width: 100%;
            position: static;
        }
    }
    &__img {
        flex: 0 0 calc(43.75rem / 88.75rem * 100%);
        @media (min-width: 48em) and (max-width: 62em) {
            display: none;
        }
    }
}
// Filter

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10.3rem;
    color: #000;
    @media (max-width: 36em) {
        grid-template-columns: repeat(3, 1fr);
        padding: .6em;
        height: auto;
    }
    @media (max-width: 30em) {
        grid-template-columns: 1fr;
        gap: 1.5em;
    }
    &__block {
        &:nth-child(2) {
            border-right: 1px solid #e8e8ee;
            border-left: 1px solid #e8e8ee;
        }
    }
    &__btn {
        padding: 0.3rem;
        button {
            cursor: pointer;
            background-color: var(--accent-color);
            height: 100%;
            width: 100%;
            border: none;
            font-weight: 500;
            font-size: 1.5rem;
            text-transform: capitalize;
            color: #FFFFFF;
            padding: .5em;
            &:active {
                background-color: #15786C;
            }
        }
        @media (max-width: 36em) and (min-width: 30em) {
            grid-column: 1/4;
        }
    }
}
.block-filter {
    position: relative;
    font-size: 1.125rem;
    &__dropdown {
        position: absolute;
        z-index: 3;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: all .2s;
        box-shadow: 0 0 1px 1px #000;
        &._active {
            visibility: visible;
            pointer-events: all;
            opacity: 1;
            transform: translateY(5px);
        }
    }
    &__button {
        padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
    &__header {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__type {
        padding-right: .2rem;
        font-weight: 400;
        color: #858585;
        cursor: pointer;
    }
    &__icon {
        width: 0.55rem;
        height: 0.5rem;
        background: url('../img/icons/arrow-dropdown.svg') center bottom no-repeat;
        transition:  transform .2s;
        cursor: pointer;
        &._active {
            transform: rotate(180deg);
        }
    }
    &__value {
        color: var(--bg-color);
        font-weight: 600;
        line-height: 1.26;
        text-transform: capitalize;
    }
    &__item {
        padding: .55em;
        transition:  background-color .2s;
        text-transform: capitalize;
        cursor: pointer;
        @media(any-hover: hover) {
            &:hover {
                background-color: #adadad;
            }
        }
    }
}

// Featured
.featured {
    padding-top: clamp(1.25rem, 0.175rem + 6.14vw, 5.625rem);
    padding-bottom: clamp(1.25rem, -1.659rem + 14.55vw, 11.25rem);
    &__container {

    }
    &__title {

    }
    &__box {
        margin-top: clamp(0.625rem, -0.081rem + 4.04vw, 3.5rem);
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        overflow: auto;
    }
    &__item {
        flex: 0 0 auto;
    }
    &__img {
        cursor: pointer;
    }
}
.popular {
    background: #1A242F url('../img/sliderbg.png') center center/cover no-repeat;
    padding: clamp(1.25rem, -1.295rem + 12.73vw, 10rem) 0;
    &__container {

    }
    &__title {

    }
    &__slider {
        margin-top: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
        position: relative;
    }
    &__link {
        text-align: center;
        margin-top: clamp(0.625rem, -0.219rem + 4.82vw, 4.063rem);
    }
}

.popular-slide {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    @media (max-width: 44em) {
        text-align: center;
    }
    &__thumb {
        
    }
    &__text {

    }
    &__title {
        font-weight: 600;
        font-size: 1.625rem;
        line-height: 1.26;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    &__desc {

    }
    &__labels {
        display: inline-flex;
        gap: 1.25rem;
        @media (max-width: 44em) {
            justify-content: center;
        }
    }
    &__label {
        display: flex;
        align-items: center;
        gap: .25rem;
        flex-wrap: wrap;
    }
}

.swiper {
    overflow: hidden;
}
.swiper-wrapper {
    display: inline-flex;
}
.swiper-slide {

}
.slider-buttons {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 106em) {
        top: -6rem;
        right: 0;
        width: auto;
        gap: 2rem;
    }
}
.swiper-button-prev.popular-slider-btn {
    position: absolute;
    left: -8rem;
}
.swiper-button-next.popular-slider-btn {
    position: absolute;
    right: -8rem;
    transform: rotate(180deg);
}
.popular-slider-btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: url('../img/icons/arrow-slider.svg') left 2rem center no-repeat;
    border: 1px solid #FFF;
    cursor: pointer;
    @media (max-width: 106em) {
        position: static;
    }
    @media (max-width: 38em) {
        display: none;
    }
}
// Why
.why {
    padding-top: clamp(1.25rem, -1.206rem + 14.04vw, 11.25rem);
    padding-bottom: clamp(1.25rem, 0.099rem + 6.58vw, 5.938rem);
    &__container {

    }
    &__title {
        text-align: center;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: clamp(1.25rem, 0.636rem + 3.51vw, 3.75rem);
        gap: clamp(1.25rem, 0.789rem + 2.63vw, 3.125rem);
        @media (max-width: 49em) {
            flex-direction: column;
        }
    }
    &__item {

    }
}
.item-why {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 0 0 calc(376px / 1420px * 100%);
    &__img {
        width: clamp(6.25rem, 5.022rem + 7.02vw, 11.25rem);
        height: clamp(6.25rem, 5.022rem + 7.02vw, 11.25rem);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: clamp(1rem, 0.693rem + 1.75vw, 2.25rem);
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: block;
            position: absolute;
            background-color: var(--accent-color);
            opacity: 0.12;
        }
        svg {
            width: 40%;
            width: 40%;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 1.625rem;
        letter-spacing: 0.01em;
        text-transform: capitalize;
    }
    &__text {
        margin-top: 1rem;
    }
}
// Review
.reviews {
    position: relative;
    .reviews-deco {
        position: absolute;
        top: -500px;
        left: 0;
        z-index: -1;
        @media (max-width: 30em) {
            width: 12rem;
        }
    }
    .swiper-wrapper {
        align-items: flex-start;
    }
    &__container {
    max-width: 64rem;
    margin: 0 auto;
    position: relative;
    padding-top: clamp(0.625rem, -2.215rem + 16.23vw, 12.188rem);
    }
    &__quotes {
    position: absolute;
    top: 0;
    left: 0;
    font-size: clamp(3rem, -0.254rem + 18.6vw, 16.25rem);
    text-transform: capitalize;
    color: var(--accent-color);
    }
    &__slider {

    }
}
.slider-reviews {
    &__slide {

    }
    &__text {
    font-size: clamp(1.25rem, 1.066rem + 1.05vw, 2rem);
    line-height: 1.57;
    text-transform: capitalize;
    }
    &__info {
        margin-top: clamp(1rem, 0.601rem + 2.28vw, 2.625rem);
    }
    &__name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    }
    &__job {

    }
    &__buttons {
        height: 3.8rem;
        align-items: center;
        display: flex;
        gap: 4.5rem;
        width: 7rem;
        position: absolute;
        bottom: 0;
        right: 1rem;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            background: #353F49;
            width: 1px;
        }
        @media (max-width: 38em) {
            display: none;
        }
    }
}
.slider-reviews-btn {
    &.swiper-button-disabled {
        svg {
            fill: #767F89;
        }
    }
    svg {
        fill: #FFFFFF;
    }
}
.slider-reviews-prev {
    transform: translateY(-3px) rotate(180deg);
}
.slider-reviews-next {
    
}
// Gallery
.gallery {
    background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
    padding: clamp(1.25rem, -0.899rem + 12.28vw, 10rem) 0;
    &__container {
        display: flex;
        align-items: center;
        gap: clamp(1rem, 0.263rem + 4.21vw, 4rem);
        @media (max-width: 63em) {
            flex-direction: column;
        }
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.125rem;
        width: calc(45rem / 88.75rem * 100%);
        @media (max-width: 63em) {
            width: 100%;
        }
    }
    &__item {
        flex: 0 0 47%;
        aspect-ratio: 7/11;
        .swiper-wrapper {
            position: relative;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__info {
        @media (max-width: 30em) {
            text-align: center;
        }
    }
    &__title {
        @media (min-width: 63em) {
            max-width: 32.5rem;
        }
    }
    &__text {
        margin-top: 1.2rem;
    }
}
// Begin
.begin {
    position: relative;
    padding: clamp(1.25rem, -1.206rem + 14.04vw, 11.25rem) 0 ;
    .begin-wave {
        position: absolute;
        bottom: -16rem;
        left: 0;
        z-index: -1;
        @media (max-width: 49em) {
            width: 16rem;
        }
    }
    .begin-rect {
        position: absolute;
        top: -4.5rem;
        right: 0;
        @media (max-width: 40em) {
            display: none;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(0.625rem, 0.164rem + 2.63vw, 2.5rem);
        max-width: 77rem;
        @media (max-width: 49em) {
            flex-direction: column;
            text-align: center;
        }
    }
    &__slogan {
        font-weight: 600;
        font-size: 4rem;
        line-height: 1.26;
        text-transform: capitalize;
    }
    &__content {
        flex: 0 0 50%;
    }
    &__link {
        margin-top: clamp(0.625rem, 0.011rem + 3.51vw, 3.125rem);
    }
}
// footer
.footer {
    background-color: #1a242f;
    padding-top: clamp(0.625rem, -1.371rem + 11.4vw, 8.75rem);
    &__main {
        padding-bottom: clamp(0.625rem, -0.603rem + 7.02vw, 5.625rem);
    }
    .main-footer__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: clamp(0.625rem, -18.72rem + 30.95vw, 8.75rem);
        @media (max-width: 62.5em) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 39em) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__block {
        @media (max-width: 62.5em) {
            grid-column: 1/5;
            &:not(:first-child) {
                grid-row: 2/3;
                grid-column: auto;
            }
        }
    }
    &__text {
        margin: clamp(0.625rem, 0.441rem + 1.05vw, 1.375rem) 0 clamp(0.625rem, 0.287rem + 1.93vw, 2rem);
        @media (min-width: 62.5em) {
            width: 21.25rem;
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        gap: clamp(0.625rem, 0.318rem + 1.75vw, 1.875rem);
        @media (max-width: 39em) {
            justify-content: center;
        }
    }
    &__social {
    text-decoration: none;
    svg {
        fill: #555E68;
        transition: all .2s;
    }
        @media (any-hover: hover) {
            &:hover{
                svg {
                    fill: var(--logo-color);
                }
            }
        }
    }
    &__copyright {
        border-top: 1px solid #303A44;
        padding: clamp(0.625rem, 0.548rem + 0.44vw, 0.938rem) 0;
        .copyright__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 44em) {
                flex-direction: column;
                gap: clamp(0.625rem, 0.318rem + 1.75vw, 1.875rem);
                text-align: center;
            }
        }
    }
}
.links-footer {
    &__header{
    font-size: 1.5rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: clamp(0.625rem, 0.61rem + 0.09vw, 0.688rem);
    }
    &__link {
        text-decoration: none;
        transition: color .2s;
        white-space: nowrap;
        @media (any-hover: hover) {
            &:hover{
                    color: var(--logo-color);
            }
        }
    }
}